<section class="section experiences-section">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>{{ title }}</h2>
    
    <div class="item" *ngFor="let job of jobs">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">{{job.title}}</h3>
                <div class="time">{{job.time}}</div>
            </div><!--//upper-row-->
            <div class="company">{{job.company}}</div>
        </div><!--//meta-->
        <div class="details">
            <p>{{job.details}}</p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
